.container {
  display: grid;

  /* grid-template-columns: 100px auto 100px; */
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  /* grid-template-columns: repeat(3, 1fr);
  same as above */

  /* grid-template: repeat(2, 50px) / repeat(3, 1fr);
  this combines rows then columns */

  /* Places equally spaced gaps around grid objects */
  grid-gap: 3px;

  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

#form {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1 / -1;
}
